<div class="row">
	<div class="col-md-6">
		<%= @todos.each do |todo| %>
			<p><%= todo.description %></p>
		<% end %>
	</div>
	<div class="col-md-6">
		<%= @todos.each do |todo| %>
			<p><%= todo.description %></p>
		<% end %>
	</div>
</div>