<div class="row">
	<div class="col-md-6 bg-success" >
		<h1> Completed </h1>
		<% @todos.each do |t| %>
			<% if t.completed == true %>
				<ul class="list-group">
					<li class="list-group-item"><%= t.description %></li>
				</ul>
			<% end %>
		<% end %>
	</div>

	<div class="col-md-6 bg-danger">
		<h1 class="text-white"> Not Completed </h1>
		<% @todos.each do |t| %>
			<% if t.completed == nil %>
				<ul class="list-group">
					<li class="list-group-item"><%= t.description %></li>
				</ul>
			<% end %>
		<% end %>
	</div>
</div>